/java1/QuanLyGV/nbproject/private/
/java1/nhap/nbproject/private/
/java1/nhap/build/
/java1/nhap2/nbproject/private/
/java1/nhap2/build/
/java1/tesstjavajava/nbproject/private/
/java1/tesstjavajava/build/
/java1/thicuoiki/nbproject/private/
/java1/thicuoiki2/target/
/java1/thicuoikidatabase/nbproject/private/
/java1/thicuoikidatabase/build/
